<div
  class="d-inline-block w-100 ps-1"
  (drop)="parameterDragService.dropOnSet($event, row)"
  (dragover)="parameterDragService.onDragOver($event)"
>
  <div
    class="d-inline-block"
    *ngFor="
      let group of value | parametergroup : parameterService;
      let first = first
    "
  >
    <span *ngIf="!first" class="vertical-line h-100 border-danger mx-1"></span
    ><span class="hover" [title]="group.name"
      ><app-var
        [value]="group.params"
        [input]="false"
        [draggable]="false"
        [inline]="true"
      ></app-var
    ></span>
  </div>
</div>
