<div
  class="position-relative"
  [ngClass]="classes"
  [ngStyle]="{ cursor: 'grab' }"
  [draggable]="true"
  (dragstart)="
    parameterDragService.onDragStart($event, {
      type: dataSet,
      value: row.uuid,
      srcType: srcSet,
      srcUUID: row.uuid
    })
  "
  (drop)="parameterDragService.drop($event, row)"
  (dragover)="parameterDragService.onDragOver($event)"
>
  <span class="m-0 p-0 fw-bold type">{{ value.type }}</span>
  <span class="m-0 p-0 fw-bold">&nbsp;{{ value.name }}</span>
</div>
