<div
  class="ps-1 d-inline-block w-100"
  (drop)="parameterDragService.drop($event, row)"
  (dragover)="parameterDragService.onDragOver($event)"
>
  <app-input
    *ngIf="input"
    #colInput
    [classes]="classes"
    placeholder="+ New"
    (enter)="onEnter(colInput)"
    [passlist]="'a-zA-Z0-9_'"
    [validate]="validateVar"
  >
  </app-input>
  <ng-container *ngFor="let v of vals; let first = first"
    ><span
      class="rounded-1 border border-top-0 border-bottom-0 border-dark py-0 px-1 fst-normal"
      [ngStyle]="{ cursor: draggable ? 'grab' : 'auto' }"
      [draggable]="true"
      (dragstart)="
        parameterDragService.onDragStart($event, {
          type: type,
          value: v.id,
          srcType: srcType,
          srcUUID: row.uuid
        })
      "
      >{{ v.name }}</span
    ><span style="font-size: 0.5em">{{ " " }}</span></ng-container
  >
</div>
