<div class="list">
  <input
    class="search"
    type="text"
    [value]="search"
    (input)="onSearchChanged($event)"
  />
  <button><fa-icon [icon]="['fas', 'search']" class="fa-xl"></fa-icon></button>
  <button><fa-icon [icon]="['fas', 'plus']" class="fa-xl"></fa-icon></button>
  <div *ngFor="let list of paramLists">
    <h5 class="name">{{ list.name }}</h5>
    <button
      class="btn"
      *ngFor="let param of list.params; let i = index"
      (click)="selectParam(list, i)"
    >
      {{ param.name }}
    </button>
  </div>
</div>
<app-parameter [param]="currParam"></app-parameter>
<button (click)="codegen()">Generate Code</button>
