<div class="list">
  <div class="input-group mb-2 mr-sm-2">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <fa-icon [icon]="['fas', 'search']"></fa-icon>
      </div>
    </div>
    <input
      type="text"
      class="form-control"
      maxlength="20"
      placeholder="Search/Create Parameter Lists"
      autocomplete="off"
      [value]="search"
      (input)="onSearchChanged($event)"
    />
    <div class="input-group-append">
      <button class="input-group-text" (click)="createParamList()">
        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
      </button>
    </div>
  </div>

  <table class="table table-sm">
    <thead>
      <tr>
        <th class="w-auto p-0 pe-1 text-end"></th>
        <th class="w-auto p-0 ps-1"></th>
        <th class="w-100 p-0 ps-2"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of paramLists">
        <td class="p-0">
          <div
            class="input-group-text d-inline-block text-end py-0 px-1 w-100 border-end-0 rounded-0 rounded-start"
          >
            <span class="align-middle fw-bold fs-6 type code"
              >{{ list.type }}
            </span>
          </div>
        </td>
        <td class="p-0">
          <div
            class="input-group-text d-inline-block text-start py-0 px-1 w-100 border-start-0 rounded-0 rounded-end"
          >
            <span class="align-middle fw-bold fs-6 code">{{ list.name }}</span>
          </div>
        </td>
        <td class="p-0 ps-2">
          <button
            class="btn border border-top-0 border-bottom-0 border-dark py-0 px-1 me-1 code"
            *ngFor="let param of list.params; let i = index"
            (click)="selectParam(list, i)"
          >
            {{ param.name }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-parameter [param]="currParam"></app-parameter>
<button (click)="codegen()">Generate Code</button>
<app-enum-search></app-enum-search>
