.list {
  border: 2px solid black;
  margin: 2px 0;
  padding: 2px;
}

.name {
  margin: 0;
  border: 1px solid black;
  border-radius: 2px;
}

.btn {
  border-radius: 2px;
  margin-right: 2px;
}

.btn:hover {
  background-color: lightgray;
}
