<svg
  #svg
  class="border w-100"
  [attr.viewBox]="'0 0 ' + W + ' ' + W"
  (mousemove)="drag($event, svg)"
  (mouseup)="endDrag()"
>
  <g *ngFor="let edge of edges">
    <defs>
      <marker
        id="head"
        orient="auto"
        [attr.markerWidth]="A_W"
        [attr.markerHeight]="A_W * 2"
        [attr.refX]="A_W + R"
        [attr.refY]="A_W"
      >
        <path [attr.d]="A_STR" fill="black" />
      </marker>
    </defs>
    <line
      marker-end="url(#head)"
      [attr.x1]="edge.from.data.cx"
      [attr.x2]="edge.to.data.cx"
      [attr.y1]="edge.from.data.cy"
      [attr.y2]="edge.to.data.cy"
      stroke="black"
    ></line>
  </g>
  <text class="code" style="font-size: 0.75em" x="-9999" #dummy></text>
  <g
    *ngFor="let v of connected; let i = index"
    triggers="mouseenter:mouseleave"
    [popoverTitle]="v.set.type + ' ' + v.name"
    [ngbPopover]="content"
    container="body"
  >
    <ng-template #content>
      <ng-container *ngTemplateOutlet="inner; context: { v: v }"></ng-container>
    </ng-template>
    <circle
      #circle
      [attr.cx]="v.data.cx"
      [attr.cy]="v.data.cy"
      [attr.r]="R"
      fill="lightgray"
      stroke="black"
      (mousedown)="startDrag(v)"
      type="button"
    ></circle>
    <text
      class="code"
      style="font-size: 0.75em"
      [attr.x]="v.data.cx"
      [attr.y]="v.data.cy"
      [attr.textLength]="v.data.width"
      text-anchor="middle"
      dominant-baseline="middle"
      (mousedown)="startDrag(v)"
    >
      {{ v.name }}
    </text>
  </g>
</svg>
<br />

<ng-template #inner let-v="v">
  <div [innerHTML]="getPopoverContent(v)"></div>
</ng-template>
