<!-- style="white-space: break-spaces" -->

<div
  [ngClass]="inline ? 'd-inline' : 'd-inline-block w-100'"
  (drop)="parameterDragService.dropOnGroup($event, row)"
  (dragover)="parameterDragService.onDragOver($event)"
>
  <app-input
    *ngIf="input"
    #colInput
    [classes]="classes"
    placeholder="+ New"
    (enter)="onEnter(colInput)"
    [sanitize]="sanitizeVar"
  >
  </app-input>
  <ng-container *ngFor="let str of value | sorted; let first = first"
    ><span
      class="rounded-1 border border-top-0 border-bottom-0 border-dark py-0 px-1 fst-normal"
      [ngStyle]="{ cursor: draggable ? 'grab' : 'auto' }"
      [draggable]="draggable"
      (dragstart)="
        parameterDragService.onDragStart($event, {
          type: Var,
          value: str,
          srcUUID: row.uuid
        })
      "
      >{{ str }}</span
    ><span style="font-size: 0.5em">{{ " " }}</span></ng-container
  >
</div>
