<div class="border border-dark border-2">
  <div class="input-group mb-2 mr-sm-2">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <fa-icon [icon]="['fas', 'search']"></fa-icon>
      </div>
    </div>
    <input
      type="text"
      class="form-control"
      maxlength="20"
      placeholder="Search Variable Lists"
      autocomplete="off"
      [value]="search"
      (input)="onSearchChanged($event)"
    />
  </div>

  <table class="table table-sm code">
    <thead>
      <tr>
        <th class="w-auto p-0 ps-1"></th>
        <th class="w-100 p-0 ps-2"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let group of groups">
        <td class="p-0">
          <div
            class="input-group-text d-inline-block text-start py-0 px-1 w-100 border-start-0 rounded-0 rounded-end"
          >
            <span class="align-middle fw-bold">{{ group.name }}</span>
          </div>
        </td>
        <td class="p-0 ps-2">
          <input
            #varInput
            class="rounded-1 border border-top-0 border-bottom-0 border-secondary align-middle fw-bold py-0 px-1 me-2 bg-transparent list-input"
            placeholder="+ New"
            type="text"
            maxlength="20"
            (input)="onVarInput(varInput, varDummy)"
            (keypress)="onVarKeyPress($event, varInput, varDummy, group)"
            (focus)="selectGroup(varInput, varDummy, group)"
            init
            [onInit]="sizeInput"
            [args]="[varInput, varDummy]"
          />
          <span
            class="rounded-1 border border-top-0 border-bottom-0 border-dark py-0 px-1 me-1"
            *ngFor="let param of group.params"
            >{{ param }}</span
          >
        </td>
      </tr>

      <tr>
        <td class="p-0">
          <div
            class="input-group-text d-inline-block text-start py-0 px-1 w-100 border-start-0 rounded-0 rounded-end bg-white fw-bold fs-6"
          >
            <input
              #listInput
              id="dumb"
              class="align-middle fw-bold p-0 border-0 bg-transparent list-input"
              placeholder="+ New List"
              type="text"
              maxlength="20"
              (input)="sizeInput(listInput, listDummy)"
              (keypress)="onKeyPress($event, listInput)"
              init
              [onInit]="sizeInput"
              [args]="[listInput, listDummy]"
            />
          </div>
        </td>
        <td class="p-0 ps-2"></td>
      </tr>
    </tbody>
    <span
      class="rounded-1 border border-top-0 border-bottom-0 border-dark px-1 position-absolute align-middle dummy fw-bold"
      #varDummy
    ></span>
    <span class="position-absolute align-middle dummy" #listDummy></span>
  </table>
</div>
