.btn:hover {
  background-color: lightgray !important;
}

.type {
  color: rgb(200, 0, 0);
}

.var {
  color: rgb(25, 25, 255);
}

.code {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.vertical-line {
  border-left: 3px solid black;
}

.w-0 {
  width: 0 !important;
}

.h-0 {
  height: 0 !important;
}

.fit {
  width: 1% !important;
  white-space: nowrap !important;
}
