<div class="border border-dark position-relative">
  <div class="d-inline-block w-75 pe-3">
    <div>
      <input
        type="text"
        placeholder="Callback Name"
        [value]="name"
        (input)="onNameChanged($event)"
      />
      <button
        class="btn py-0 px-2 ms-1 rounded border border-secondary"
        title="Save Ctrl+S"
        (click)="save()"
      >
        <fa-icon [icon]="['fas', 'save']"></fa-icon>
      </button>
    </div>
    <div>
      <span
        class="code"
        *ngFor="let data of signature"
        [ngClass]="{
          type: data[1] === CodeType.Type,
          var: data[1] === CodeType.Var
        }"
        >{{ data[0] }}</span
      >
      <span class="code ret">{{
        retParamSet ? retParamSet.type : "void"
      }}</span>
      <span class="code"> onUpdate(</span>
      <ng-container *ngFor="let data of parameters; let firstSet = first">
        <ng-container *ngFor="let param of data.params; let firstParam = first">
          <span class="code" *ngIf="!firstSet || !firstParam">, </span>
          <span class="code type">{{ data.set.type }}</span>
          <app-input
            #paramInput
            [classes]="['py-0', 'px-1', 'ms-1', 'border-0', 'code', 'var']"
            [value]="param.alias"
            [placeholder]="param.name"
            [passlist]="'0-9a-zA-Z_'"
            [validate]="validateVar"
            (enter)="onParamEnter(param, paramInput)"
          ></app-input>
        </ng-container>
      </ng-container>
      <span class="code">) {{ "{" }}</span>
    </div>
    <div
      class="code-input border border-dark rounded position-relative"
      [ngClass]="[saved ? 'saved' : 'unsaved']"
      #codeDiv
    >
      <div class="line-nums border-end border-dark border-2" #lineNums>
        <div class="line" *ngFor="let i of getLineNumbers()">
          <span
            class="code line-num opacity-50"
            [ngClass]="{ 'ret opacity-100': i === -1 }"
            >{{ i === -1 ? "return" : i + 1 }}</span
          >
        </div>
      </div>
      <textarea
        class="code-div hide-code code border-0"
        oninput='this.style.height = ""; this.style.height = this.scrollHeight + "px"'
        [value]="code"
        (input)="onCodeChanged($event)"
        (scroll)="onScroll($event)"
        (keydown)="onCodeKeyPress($event)"
        spellcheck="false"
        #codeInput
      ></textarea>
      <div class="code-div" #codeDisplay>
        <div
          class="line"
          *ngFor="let line of getVarIdxs(); let i = index"
          [attr.id]="i"
          #codeLine
        >
          <span
            class="code small"
            *ngFor="let idx of line; let j = index"
            [ngClass]="{ var: j % 2 === 0 }"
            [ngStyle]="{
              left:
                (x_offs[i] ? (x_offs[i][j] ? x_offs[i][j] : '0') : '0') + 'px'
            }"
            >{{ j !== 0 ? code.substring(line[j - 1], line[j]) : "" }}</span
          >
          <span class="code" *ngIf="line.length === 0">&nbsp;</span>
        </div>
      </div>
    </div>
    <span class="code">}</span>
  </div>
  <div class="d-inline-block position-absolute w-25 pe-0 scroll">
    <span>Return:</span>
    <br />
    <ng-container *ngIf="retParamSet && callback.retParam">
      <span class="code type">{{ retParamSet.type }}</span>
      <span class="code"> {{ retParamSet.name }}</span>
      <br />
      <button
        class="btn param-btn me-1 py-1 px-2 code var"
        (click)="select(retParamSet.uuid, callback.retParam.name)"
      >
        {{ callback.retParam.name }}
      </button>
      <br />
    </ng-container>
    <br />
    <span>Parameters:</span>
    <br />
    <ng-container *ngFor="let data of parameters">
      <span class="code type">{{ data.set.type }}</span>
      <span class="code"> {{ data.set.name }}</span>
      <br />
      <button
        class="btn param-btn me-1 py-1 px-2 code var"
        *ngFor="let param of data.params"
        (click)="select(data.set.uuid, param.name)"
      >
        {{ param.alias }}
      </button>
      <br />
    </ng-container>
  </div>
</div>
