.box {
  border: 1px dashed black;
  position: relative;
}

.indent {
  margin-left: 2em;
}

.col {
  display: inline-block;
}

.left {
  width: 75%;
}

.right {
  width: 25%;
  right: 0;
  position: absolute;
}

.scroll {
  max-height: 90%;
  overflow-y: auto;
}

.param-btn {
  background-color: rgba(230, 230, 230, 230);
}

.code-input {
  position: relative;
  width: calc(100% - 5em);
  height: 25em;
  overflow-y: auto;
  border: 2px solid black;
  border-radius: 5px;
}

.code-div {
  resize: none;
  width: 100%;
  height: 100%;
  display: inline;
  white-space: pre-wrap;
  padding: 0;
}

.hide-code {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 25em;
  color: transparent;
  background-color: transparent;
  font-size: medium;
  overflow: hidden;
  line-height: 1.15em;
  caret-color: black;
  padding-left: 3em;
  outline: none;
}

.line-num {
  display: inline-block;
  width: 3em;
  color: gray;
}

.chunk {
  line-height: 1em;
}
