<div class="box">
  <div class="col left">
    <span class="code">void OnUpdate(</span>
    <span class="code type">{{ param.type }} </span>
    <span class="code var">{{ param.name }}</span>
    <span class="code">) {{ "{" }}</span>
    <br />
    <div class="code-input">
      <div class="code-div">
        <div class="chunk" *ngFor="let line of idxs">
          <span
            class="code"
            *ngFor="let idx of line; let i = index"
            [ngClass]="{ var: i % 2 === 0 }"
            >{{ i !== 0 ? code.substring(line[i - 1], line[i]) : "" }}</span
          >
        </div>
        <div class="code">&nbsp;</div>
      </div>
      <textarea
        class="code-div hide-code code"
        (input)="onCodeChanged($event)"
        spellcheck="false"
      ></textarea>
    </div>
    <br />
    <span class="code">}</span>
    <br />
    <input
      type="text"
      placeholder="Callback Name"
      [value]="name"
      (input)="onNameChanged($event)"
    />
    <button (click)="update()">
      {{ isNameUsed() ? "Update" : "Add" }} Callback Function
    </button>
    <button (click)="code = name = ''">Reset</button>
  </div>
  <div class="col right scroll">
    <span>Existing Callbacks:</span>
    <br />
    <button
      class="item"
      *ngFor="let cb of param.param.callbacks | keyvalue"
      [ngClass]="{ selected: name === cb.key }"
      (click)="select(cb.key, cb.value)"
    >
      {{ cb.key }}
    </button>
  </div>
</div>
