.scroll {
  max-height: 90%;
  overflow-y: auto;
}

.param-btn {
  background-color: rgba(230, 230, 230, 230);
}

.code-input {
  height: 25em;
  overflow-y: auto;
}

.saved {
  background-color: rgba(200, 200, 255, 0.2);
}

.unsaved {
  background-color: rgba(255, 200, 200, 0.5);
}

.line-nums {
  display: inline-block;
  width: 4em;
  margin-right: 0.25em;
  overflow: hidden;
}

.code-div {
  position: absolute;
  left: 4.25em;
  right: 0;
  top: 0;
  white-space: pre;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

.hide-code {
  z-index: 1;
  padding: 0;
  min-height: 100%;
  color: transparent;
  background-color: transparent;
  caret-color: black;
  outline: none;
  overflow-x: scroll;
  line-height: 1em;
}

.line-num {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1em;
  line-height: 1em;
  vertical-align: middle;
}

.line {
  position: relative;
  font-size: medium;
  height: 1em;
  line-height: 1em;
}

.small {
  position: absolute;
  top: 0;
  height: 1em;
  line-height: 1em;
  font-size: medium;
  vertical-align: middle;
}
